<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>us.erlang.dictionary.Pinyin2English</string>
	<key>CFBundleName</key>
	<string>Pinyin2English</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>cedict https://cc-cedict.org/ https://github.com/dongyuwei</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>https://github.com/dongyuwei</string>
</dict>
</plist>
